* {
    box-sizing: border-box;
    
}

html {
    scroll-behavior: smooth; 
}

img {
    width: 20%;
    align-content: center;
}

.wrapper {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 1rem; 

}
.acor-body {
    
    width: 100%;
    text-align: center;
    height: 0;
    transition: all 0.5s;
    overflow: hidden;
}

.wrapper label {
    cursor: pointer;
    background-color: #98a0a7;
    display: block;
    padding: 15px 20px;
    width: 100%;
    color: black;
    font-weight: 300;
    z-index: 100;
    margin: 0 0 5px;
    transition: color .35s;
}

.wrapper input{
    /* display: none; */
    appearance: none;
}

.wrapper label:hover {
    color: #FFF;
    
}

.wrapper label:hover + .acor-body {
    height: auto;
    margin-top: -5px;
    color: #000;
    padding: 20px 30px 10px;
    
}

.wrapper input:checked + label {
    background-color: #b5c7d7;
    color: #FFF;
    
}

.wrapper input:checked + label + .acor-body {
    height: auto;
    margin-top: -5px;
    color: #000;
    padding: 20px 30px 10px;
}